* {
    margin: 0px;
    padding: 0px;
    font-family: "Audiowide", sans-serif;
}

body {
    background-image: url(images/backgroundskate.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
}